<app-toolbar></app-toolbar>
<app-dashboard *ngIf="getLoginStatus()"></app-dashboard>

<div>
        <div class="row">
            <div class="col-md-3 leftcol">
                <div class="row">
                        <img src="../../../assets//Images//pets/CaneCorso.jpg" />
                        <img src="../../../assets//Images//pets/afghan hound.jpg" />
                        <img src="../../../assets//Images//pets/americian bully.jpg" />
                </div>
            </div>
            <div class="col-md-6 middlecol">
                    <div class="container">
                            <h3>Update Product</h3>
                            <div class="row main">
                                <div class="col">
                                    <p>
                                        <label>Category : </label>
                                    </p>
                                </div>
                                <div class='col'>
                                    <p>
                                        <select [(ngModel)]="selectedCategoryId" (change)="getAlProducts()">
                                            <option value="" selected hidden>
                                                --select category--
                                            </option>
                                            <option *ngFor="let x of categoriesList"value="{{x.categoryId}}">
                                                {{x.categoryName}}
                                            </option>
                                        </select>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p>
                                        <label>Product : </label>
                                    </p>
                                </div>
                                <div class="col">
                                    <p>
                                        <select [(ngModel)]="selectedProductId" (ngModelChange)="changeProduct(selectedProductId , $event)">
                                            <option value=""selected hidden>
                                                --select product--
                                            </option>
                                            <option *ngFor="let x of productsList"[ngValue]="x">
                                                {{x.productName}}
                                            </option>
                                        </select>
                                    </p>
                                </div>
                            </div>
                            <hr>
                            <div class="tableblock">
                                <table class="table table-bordered">
                                    <tbody>
                                         <tr>
                                            <td>
                                                <label>Category Id</label>
                                            </td>
                                            <td>
                                                <label>{{selectedProduct.categoryId}}</label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Product Id</label>
                                            </td>
                                            <td>
                                                <label>{{selectedProduct.productId}}</label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Product Name</label>
                                            </td>
                                            <td>
                                                <label>{{selectedProduct.productName}}</label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Quantity</label>
                                            </td>
                                            <td>
                                                <input type="number" [(ngModel)]="inputQuantity" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Purchase Price</label>
                                            </td>
                                            <td>
                                                <input type="text" [(ngModel)]="inputPurchasePrice" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Selling Price</label>
                                            </td>
                                            <td>
                                                <input type="text" [(ngModel)]="inputSellingPrice" />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <button class="btn" (click)="updateProduct()">Submit</button>
                                </div>
                            </div>
                        </div>  
            </div>
            <div class="col-md-3 rightcol">
                <div class="row">
                        <img src="../../../assets//Images//pets/Dachshund.jpg" />
                        <img src="../../../assets//Images//pets/Greyhound.jpg" />
                        <img src="../../../assets//Images//pets/Maltese.jpg" />
                        
                </div>
            </div>
        </div>
    </div>
