.leftcol{
    text-align: center;
}
.rightcol {
    text-align: center;
}
.middle {
    padding : 2%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: auto;
}
img{
    height : 240px;
}