<hr>
<div>
    <div class="row">
        <div class="col-md-3 leftcol">
            <div class="row">
                <img src="../../../assets//Images//pets/akita inu.jpg" />
                <img src="../../../assets//Images//pets/chow chow.jpg" />
            </div>
        </div>
        <div class="col-md-6 middle">
            <div *ngIf="view=='login'">
                <app-login (newItemEvent)="changeView($event)"></app-login>
            </div>
            <div *ngIf="view=='register'">
                <app-signup (newItemEvent)="changeView($event)"></app-signup>
            </div>
        </div>
        <div class="col-md-3 rightcol">
                <div class="row">
                        <img src="../../../assets//Images//pets/bengal cat.jpg" />
                        <img src="../../../assets//Images//pets/chihuahua.jpg" />
                    </div>
        </div>
    </div>
</div>
<hr>
