<div>
    <h4>Login</h4>
    <div class="row main">

                        <p>
                            <label>Username : </label>&nbsp;&nbsp;
                             <input type="text" [(ngModel)]="inputUsername" />
                        </p>
                        <p>
                            <label>Password : </label>&nbsp;&nbsp;
                             <input type="password" [(ngModel)]="inputPassword" />
                        </p>
                        <p>
                            <button (click)="userLogin()" class="btn">Login</button> &nbsp;<button (click)="goToRegister()" class="btn">Register</button>
                        </p>
        
    </div>
    
</div>
