.container{
    width : 100%;
    padding : 2%;
}
select{
    min-width: 200px;
    height: 36px;
    font-size: 20px;
}
.btn{
    min-width: 100px;;
    color : white;
    background-color: navy;
}
label{
    height : 40px;
    font-size: 20px;
}
input{
    height : 36px;
    font-size: 20px;
}
table{
    background-color: white;
}