<app-toolbar></app-toolbar>
<app-dashboard *ngIf="getLoginStatus()"></app-dashboard>

<div>
    <div class="row">
        <div class="col-md-3 leftcol">
                <div class="row">
                        <img src="../../../assets//Images//pets/dalmatian.jpg" />
                        <img src="../../../assets//Images//pets/kangal shepherd.jpg" />
                </div>
        </div>
        <div class="col-md-6 middlecol">
            <div class="container">
                <h3>Assign Role</h3>
                <div class="row main">
                    <div class="col-md-4">
                        <p>
                            <label>Username : </label>
                        </p>
                    </div>
                    <div class="col-md-8">
                        <p>
                            <select [(ngModel)]="selectedUsername">
                                <option value="">
                                    --select--
                                </option>
                                <option *ngFor="let x of usersList" value={{x.username}}>
                                    {{x.username}}
                                </option>
                            </select>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p>
                            <label>Role : </label>
                        </p>
                    </div>
                    <div class="col-md-8">
                        <p>
                            <select [(ngModel)]="selectedRole">
                                <option value="">
                                    --select--
                                </option>
                                <option *ngFor="let x of rolesList" value={{x.roleName}}>
                                    {{x.roleName}}
                                </option>
                            </select>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>
                            <button (click)="assignRole()" class="btn">Approve</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 rightcol">
                <div class="row">
                        <img src="../../../assets//Images//pets/Jack_Russell_Terrier.jpg" />
                        <img src="../../../assets//Images//pets/border collie.jpg" />
                </div>
        </div>
    </div>
</div>